.featuresSection {
  background-color: #fff;
  padding: 4rem 2rem;
}

.featuresContainer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #000;
}

.subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2rem;
  color: #c20000;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
}

.sectionCta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.ctaButton {
  background: #d81c1cff;
  color: #fff;
  border: none;
  padding: 0.85rem 1.5rem;
  border-radius: 999px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.2s;
}
.ctaButton:hover {
  filter: brightness(0.95);
  transform: translateY(-1px);
}

/* Responsive */
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
